<h1><%= @list.name  %></h1>

<p>
  <% @list.movies.each do |movie| %>
  <img src="<%= movie.poster_url %>" alt="">
    <%= movie.title %>
    <br>
    <%= movie.overview %>
    <%= movie.rating %>
    <% end %>
</p>

<%= link_to 'Add a movie', new_list_bookmark_path(@list) %>
<%= link_to 'Back', root_path(@list) %>
